<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Custom Calculator"
			 Manufacturer="Sudila Jayarathna"
			 Version="1.1.0.0"
			 UpgradeCode="6839C9C6-6CB4-4363-92EE-61B196AEE53E">

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="MainFeature" Title="SampleAppSetup">
			<ComponentGroupRef Id="ExampleComponents" />
		</Feature>
	</Package>
</Wix>